#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.tile {
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
